@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body{
    background-color: black;
    font-family: "Inter";
}
.container-with-sidebar {
  position: relative;
}
.container-content {
  left: 250px;
  position: absolute;
  top: 0;
  height: 100vh;
  width: calc(100% - 250px);
}
.links-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  color: white;
}
.navigation-title{
    padding: 10px 15px;
color: rgb(225, 225, 225);
font-size: 20px;
}
.links-list a{
    text-decoration: none;
}
.links-list a:hover .link-text{
  background-color: rgb(42, 42, 42);
}
.links-list a .link-text {
    padding: 8px 15px;
    color: white;
}
